@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.heading-and-image img {
  width: 223.26px;
  height: 110.69px;
  margin-left: -30px;
}

.heading-and-image h1 {
  font-size: 55px;
  color: #31326c;
  margin-top: -90px;
}

.btn-large-primary {
  background-color: #31326c;
  width: 217px;
  height: 60px;
  padding: 5px 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-evenly;
}
.btn-large-primary p,
.btn-large-primary h6 {
  margin: 0;
  color: #fff;
}
.btn-large-primary p {
  font-size: 14px;
  font-weight: 600;
}
.btn-large-primary h6 {
  font-size: 17px;
  font-weight: bold;
}

.btn-large-secondary {
  background-color: #fff;
  width: 217px;
  height: 60px;
  padding: 5px 10px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #31326c;
}
.btn-large-secondary p,
.btn-large-secondary h6 {
  margin: 0;
  color: #31326c;
}
.btn-large-secondary p {
  font-weight: 600;
  font-size: 14px;
}
.btn-large-secondary h6 {
  font-size: 17px;
  font-weight: bold;
}

.button-grid {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.mycard-primary {
  background: #31326c;
  color: #fff;
  box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
  border-radius: 5px;
}

.mycard-secondary {
  background: #fff;
  color: #212529;
  box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
  border-radius: 5px;
}

.picture-card {
  background: #31326c;
  border-radius: 15px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 7px;
}

.transaction-card {
  background-color: #e5ab3d;
  color: #31326c;
  border-radius: 19px;
}

.card-btn-primary {
  background-color: #fff;
  color: #31326c;
  text-transform: uppercase;
  border-radius: 5px;
}

.card-btn-secondary {
  background-color: #31326c;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.vision-card {
  background-color: #e5ab3d;
  color: #31326c;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.nav-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.navbar-section {
  height: 100px;
  background: #fff;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.2);
  margin-top: -10px;
  padding-top: 10px;
}

.navbar-content {
  display: grid;
  grid-template-columns: 1fr auto 9fr;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}
.navbar-content > a:hover {
  text-decoration: none;
}

.logo {
  z-index: 3;
}

.nav-menu {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 50px;
  list-style: none;
  top: 10px;
  justify-self: end;
  align-self: center;
}

.nav-links {
  color: #31326c;
  text-decoration: none;
  font-size: 22px;
  transition: all 0.2s ease-out;
  position: relative;
}
.nav-links::after {
  content: '';
  position: absolute;
  background: #e5ab3d;
  margin: 35px 0;
  left: 40%;
  width: 100%;
  border-radius: 13px;
  height: 6px;
  opacity: 0;
}
.nav-links:hover {
  text-decoration: none;
  color: #31326c;
  font-weight: bold;
}
.nav-links:hover::after {
  content: '';
  position: absolute;
  background: #31326c;
  margin: 35px auto;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  opacity: 1;
}

.nav-links.active {
  position: relative;
  font-weight: bold;
}
.nav-links.active::after {
  content: '';
  position: absolute;
  background: #31326c;
  margin: 35px auto;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  opacity: 1;
}

.showcase {
  height: 900px;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}
.showcase .button-grid {
  margin-top: 30px;
}

.showcase-text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #424242;
  width: 500px;
}

.showcase-image {
  position: absolute;
  top: -120px;
  left: 40%;
  height: 1000px;
}

.hashtag {
  position: absolute;
  height: 258px;
  left: 35%;
  top: 50px;
}

.hashtag2 {
  position: absolute;
  top: 500px;
  height: 330px;
  left: -57px;
}

.partners {
  margin-top: -100px;
}
.partners h4 {
  font-size: 36px;
  color: #31326c;
}

.partners-content {
  background-color: rgba(49, 50, 108, 0.04);
  margin-top: 30px;
}

.partners-image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 80px;
}

.seamless {
  margin-top: 50px;
  padding-top: 100px;
}
.seamless .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.seamless .container .pc-and-phone {
  height: 420px;
  align-self: center;
}

.seamless-content .heading-and-image img {
  height: 75px;
  margin-top: -115px;
  margin-left: -60px;
}

.seamless-content .heading-and-image h1 {
  font-size: 36px;
  font-weight: bold;
}

.seamless-content p {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.seamless-content .mycard-primary {
  background: #31326c;
  color: #fff;
  padding: 15px 20px 1px 20px;
  box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;
}
.seamless-content .mycard-primary h6 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.seamless-content .mycard-primary p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.seamless-content .mycard-secondary {
  background: #fff;
  color: #212529;
  box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
  border-radius: 5px;
  padding: 15px 20px 1px 20px;
  margin-bottom: 20px;
}
.seamless-content .mycard-secondary h6 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-top: 20px;
}
.seamless-content .mycard-secondary p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.seamless-list {
  display: grid;
  grid-template-columns: 1fr 15fr;
}

.list-image {
  height: 300px;
  margin-top: 20px;
}

.feature {
  background-color: #31326c;
  padding: 100px 100px 80px 100px;
  margin-top: 50px;
}
.feature .heading-and-image {
  margin: 20px 0 40px 0;
}
.feature .heading-and-image img {
  height: 75px;
  margin-top: -115px;
  margin-left: -510px;
}
.feature .heading-and-image h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.feature .feature-card {
  position: relative;
  padding: 30px 20px;
}
.feature .feature-card h5,
.feature .feature-card p {
  color: #fff;
  margin-top: 10px;
}
.feature .feature-card .feature-card-img {
  position: absolute;
  width: 50%;
  margin: 10%;
}
.feature .feature-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.transaction {
  margin-top: 70px;
  margin-bottom: 30px;
}
.transaction .heading-and-image {
  margin-bottom: 50px;
}
.transaction .heading-and-image img {
  height: 75px;
  margin-left: -200px;
}
.transaction .heading-and-image h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: -60px;
}
.transaction .transaction-card {
  padding: 50px;
  height: 300px;
  width: 500px;
  margin-top: 13px;
  justify-self: center;
}
.transaction .transaction-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.transaction .transaction-content .atm-img {
  height: 350px;
}
.transaction .transaction-content .center-img {
  position: absolute;
  height: 100px;
  left: 45%;
  top: 30%;
}

.banking-content {
  background-color: #31326c;
  color: #fff;
  padding: 20px;
  border-radius: 250px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 100px;
  margin-top: 80px;
}
.banking-content .text-content {
  justify-self: center;
  align-self: center;
}
.banking-content .banking-img {
  justify-self: end;
  align-self: center;
}
.banking-content .heading-and-image {
  margin-bottom: 30px;
}
.banking-content .heading-and-image img {
  height: 75px;
  margin-left: -55px;
}
.banking-content .heading-and-image h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-top: -55px;
}
.banking-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  width: 394px;
  letter-spacing: 0.02em;
  color: #ced3ff;
}

.download {
  background: rgba(49, 50, 108, 0.04);
  margin-top: 200px;
}
.download .download-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.download .download-content .download-img {
  margin-top: -150px;
}
.download .pay-color {
  color: #e5ab3d;
}
.download .download-text {
  justify-self: center;
  margin-top: 50px;
}
.download .download-text .heading-and-image {
  margin-bottom: 60px;
}
.download .download-text .heading-and-image img {
  height: 75px;
  margin-left: -55px;
}
.download .download-text .heading-and-image h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: -55px;
}

.footer {
  background-color: #31326c;
  color: #fff;
  margin-top: -200px;
  z-index: 3;
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
}
.footer .footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 30px;
}
.footer button {
  background-color: #e5ab3d;
  color: #31326c;
}
.footer h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.footer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #ced3ff;
  letter-spacing: 0.02em;
}
.footer .third-item {
  justify-self: center;
}
.footer .footer-icons {
  margin-top: 70px;
}
.footer .footer-icons > a {
  margin-right: 20px;
}
.footer .copy {
  margin-top: 30px;
}
.footer .copy p {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #ced3ff;
  letter-spacing: 0.02em;
}

.faq {
  margin-top: 50px;
  margin-bottom: 50px;
}
.faq .heading-and-image {
  margin-bottom: 70px;
}
.faq .heading-and-image img {
  margin-left: -500px;
}
.faq .heading-and-image h1 {
  font-weight: bold;
  font-size: 50px;
}
.faq .input-group {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.faq .input-group .btn {
  background-color: #31326c;
  color: #fff;
  width: 150px;
}
.faq .input-group input[type='text'] {
  height: 50px;
}
.faq .input-group input:focus {
  box-shadow: 0px 3px 10px #31326c;
}
.faq h2 {
  font-size: 36px;
  color: #31326c;
}

.questions {
  margin-bottom: 100px;
}

.still-have {
  margin-bottom: 300px;
}
.still-have h2 {
  font-size: 36px;
  color: #31326c;
  text-align: center;
}
.still-have .heading-paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 600px;
  margin: 30px auto 60px;
  color: #424242;
}
.still-have .still-have-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.still-have .still-have-cards .mycard-secondary {
  padding: 30px 20px 40px 20px;
}
.still-have .still-have-cards .mycard-secondary img {
  margin-bottom: 30px;
}
.still-have .still-have-cards .mycard-secondary h5 {
  margin-bottom: 15px;
}
.still-have .still-have-cards .mycard-secondary p {
  text-align: left;
}
.still-have .still-have-cards .mycard-primary {
  padding: 30px 20px 40px 20px;
}
.still-have .still-have-cards .mycard-primary img {
  margin-bottom: 30px;
}
.still-have .still-have-cards .mycard-primary h5 {
  margin-bottom: 15px;
}
.still-have .still-have-cards .mycard-primary p {
  text-align: left;
}

.contact-heading {
  margin-top: 50px;
}
.contact-heading .heading-and-image img {
  margin-left: -130px;
}
.contact-heading .heading-and-image h1 {
  font-weight: bold;
  font-size: 50px;
}
.contact-heading p {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #424242;
  width: 600px;
  margin: 40px auto;
}

.callandmessage {
  margin-top: 100px;
}
.callandmessage .photoandcard {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 50px;
}
.callandmessage .photoandcard .callgirl {
  height: 420px;
}
.callandmessage .photoandcard .callgirl-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}
.callandmessage .photoandcard .mycard-secondary {
  padding: 10px 20px 10px;
}
.callandmessage .photoandcard .mycard-secondary p {
  font-weight: 600;
  font-size: 20px;
  line-height: 119%;
  letter-spacing: 0.02em;
  color: #31326c;
  margin: 0;
}
.callandmessage .photoandcard .mycard-secondary span {
  margin-right: 15px;
}
.callandmessage .photoandcard .mycard-secondary span img {
  height: 30px;
}
.callandmessage .form-area.mycard-secondary {
  padding: 40px 30px 10px;
}
.callandmessage .form-area.mycard-secondary .card-btn-secondary {
  border: 0;
  width: 100%;
  padding: 15px 0;
  font-weight: bold;
}
.callandmessage .form-area.mycard-secondary h5 {
  color: #31326c;
  margin-bottom: 20px;
}
.callandmessage .form-area.mycard-secondary .form-group {
  margin-bottom: 30px;
}

.reach-us {
  margin-top: 50px;
  margin-bottom: 300px;
}
.reach-us h2 {
  font-size: 36px;
  color: #31326c;
  text-align: center;
  font-weight: bold;
}
.reach-us .heading-paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 600px;
  margin: 30px auto 60px;
  color: #424242;
}
.reach-us .reach-us-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.reach-us .reach-us-cards .mycard-secondary {
  padding: 30px 20px 0px 20px;
}
.reach-us .reach-us-cards .mycard-secondary img {
  margin-bottom: 30px;
}
.reach-us .reach-us-cards .mycard-secondary h5 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #31326c;
}
.reach-us .reach-us-cards .mycard-secondary p {
  text-align: left;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}
.reach-us .reach-us-cards .mycard-secondary span {
  margin-right: 15px;
}
.reach-us .reach-us-cards .mycard-primary {
  padding: 30px 20px 0px 20px;
}
.reach-us .reach-us-cards .mycard-primary img {
  margin-bottom: 30px;
}
.reach-us .reach-us-cards .mycard-primary h5 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #fff;
}
.reach-us .reach-us-cards .mycard-primary p {
  text-align: left;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}
.reach-us .reach-us-cards .card-btn-primary {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.02em;
  padding: 5px 30px;
}
.reach-us .reach-us-cards .card-btn-secondary {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.02em;
  padding: 5px 30px;
}

.about-heading {
  margin-top: 50px;
}
.about-heading .heading-and-image img {
  margin-left: -130px;
}
.about-heading .heading-and-image h1 {
  font-weight: bold;
  font-size: 50px;
}
.about-heading p {
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #424242;
  width: 65ch;
  margin: 50px auto;
}

.photo-grid {
  margin-top: 130px;
  margin-bottom: 100px;
}
.photo-grid .photo-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.photo-grid .photo1,
.photo-grid .photo2,
.photo-grid .photo3,
.photo-grid .photo4 {
  background-color: #31326c;
  border-radius: 15px;
}
.photo-grid .photo1 {
  grid-row: 1 / span 2;
  height: 654px;
}
.photo-grid .photo1 img {
  margin-top: 250px;
  margin-left: -30px;
}
.photo-grid .photo2 {
  grid-row: 1 / span 1;
  height: 327px;
}
.photo-grid .photo2 img {
  margin-top: -134px;
}
.photo-grid .photo3 {
  grid-row: 2 / span 2;
  height: 327px;
}
.photo-grid .photo3 img {
  padding-left: 70px;
}
.photo-grid .photo4 {
  grid-row: 1 / span 2;
  height: 654px;
}
.photo-grid .photo4 img {
  margin-top: 326px;
}

.our-story .our-story-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 250px;
}
.our-story .our-story-content h1 {
  font-weight: bold;
  font-size: 36px;
  color: #31326c;
  margin-bottom: 25px;
}
.our-story .our-story-content p {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #424242;
}
.our-story .our-story-content .heading {
  align-self: center;
}
.our-story .our-story-content .photo-box {
  background-color: #31326c;
}
.our-story .our-story-content .photo-box img {
  margin: 30px 0 30px -120px;
}

.vision {
  margin-top: 100px;
  margin-bottom: 300px;
}
.vision .vision-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.vision .vision-content .vision-card {
  padding: 50px;
}
.vision .vision-content .vision-card h1 {
  font-weight: bold;
  font-size: 36px;
  color: #31326c;
  margin-bottom: 25px;
}
.vision .vision-content .vision-card p {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 850px) {
  .nav-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #31326c;
    position: relative;
    top: 10px;
    display: block;
    z-index: 2;
    border-radius: 20px;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }
  #mobile-menu {
    position: absolute;
    top: 20px;
    left: 90%;
    z-index: 100;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar {
    background-color: #31326c;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style: none;
    top: 10px;
    justify-self: end;
    align-self: center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 150px;
    padding-left: 20px;
    height: 100vh;
    opacity: 0;
  }
  .nav-menu.active {
    z-index: 2;
    opacity: 1;
  }
  .nav-links {
    color: #31326c;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.2s ease-out;
    position: relative;
  }
  .nav-links::after {
    content: '';
    position: absolute;
    background: #e5ab3d;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    height: 0px;
    transition: none;
    opacity: 1;
  }
  .nav-links:hover {
    text-decoration: none;
    color: #31326c;
    font-weight: normal;
  }
  .nav-links:hover::after {
    content: '';
    position: absolute;
    background: #e5ab3d;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    height: 0px;
    transition: none;
    opacity: 1;
  }
  .nav-links.active {
    position: relative;
    font-weight: bold;
  }
  .nav-links.active::after {
    content: '';
    position: absolute;
    background: #31326c;
    margin: 0px auto;
    width: 0px;
    border-radius: 0%;
    height: 0px;
    opacity: 1;
  }
  .showcase {
    height: 550px;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
  }
  .showcase .button-grid {
    margin-top: 30px;
  }
  .showcase-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #424242;
    width: 500px;
  }
  .hashtag {
    position: absolute;
    height: 258px;
    left: 50%;
    top: 0px;
  }
  .seamless {
    margin-top: 10px;
    padding-top: 50px;
  }
  .seamless .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .seamless .container .pc-and-phone {
    height: 350px;
    margin-left: 15%;
    margin-bottom: 60px;
  }
  .seamless-content .heading-and-image img {
    height: 50px;
    margin-top: -125px;
    margin-left: -75px;
  }
  .seamless-content .heading-and-image h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .feature-card {
    position: relative;
    padding: 30px 20px;
  }
  .feature-card h5,
  .feature-card p {
    color: #fff;
    margin-top: 10px;
  }
  .feature-card .feature-card-img {
    position: absolute;
    width: 50%;
    margin: 10%;
  }
  .feature {
    background-color: #31326c;
    padding: 100px 70px 80px 70px;
    margin-top: 50px;
  }
  .feature .heading-and-image {
    margin: 20px 0 40px 0;
  }
  .feature .heading-and-image img {
    height: 75px;
    margin-top: -115px;
    margin-left: -410px;
  }
  .feature .heading-and-image h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  .feature .feature-card {
    position: relative;
    padding: 30px 20px;
  }
  .feature .feature-card h5,
  .feature .feature-card p {
    color: #fff;
    margin-top: 10px;
  }
  .feature .feature-card .feature-card-img {
    position: absolute;
    width: 50%;
    margin: 10%;
  }
  .feature .feature-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .transaction {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .transaction .heading-and-image {
    margin-bottom: 20px;
  }
  .transaction .heading-and-image img {
    height: 75px;
    margin-left: -130px;
  }
  .transaction .heading-and-image h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
  }
  .transaction .transaction-card {
    padding: 10px;
    height: 310px;
    width: 330px;
    margin-top: 13px;
    justify-self: center;
  }
  .transaction .transaction-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 20px;
  }
  .transaction .transaction-content .atm-img {
    height: 240px;
    align-self: center;
  }
  .transaction .transaction-content .center-img {
    position: absolute;
    height: 80px;
    left: 45%;
    top: 35%;
  }
  .banking-content .heading-and-image {
    margin-bottom: 30px;
  }
  .banking-content .heading-and-image img {
    height: 75px;
    margin-left: -55px;
  }
  .banking-content .heading-and-image h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: -55px;
  }
  .download {
    background: rgba(49, 50, 108, 0.04);
    margin-top: 150px;
  }
  .download .download-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .download .download-content .download-img {
    margin-top: -100px;
  }
  .download .pay-color {
    color: #e5ab3d;
  }
  .download .download-text {
    justify-self: center;
    margin-top: 50px;
  }
  .download .download-text .heading-and-image {
    margin-bottom: 30px;
  }
  .download .download-text .heading-and-image img {
    height: 75px;
    margin-left: -55px;
  }
  .download .download-text .heading-and-image h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: -55px;
  }
  .footer {
    background-color: #31326c;
    color: #fff;
    margin-top: -40px;
    z-index: 3;
    position: relative;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .footer .footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 30px;
  }
  .footer button {
    background-color: #e5ab3d;
    color: #31326c;
  }
  .footer h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .footer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #ced3ff;
    letter-spacing: 0.02em;
  }
  .footer .third-item {
    justify-self: center;
  }
  .footer .footer-icons {
    margin-top: 70px;
  }
  .footer .footer-icons > a {
    margin-right: 5px;
  }
  .footer .copy {
    margin-top: 30px;
  }
  .footer .copy p {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #ced3ff;
    letter-spacing: 0.02em;
  }
  .btn-large-primary {
    background-color: #31326c;
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-evenly;
  }
  .btn-large-primary p,
  .btn-large-primary h6 {
    margin: 0;
    color: #fff;
  }
  .btn-large-primary p {
    font-size: 14px;
    font-weight: 600;
  }
  .btn-large-primary h6 {
    font-size: 15px;
    font-weight: bold;
  }
  .btn-large-secondary {
    background-color: #fff;
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #31326c;
  }
  .btn-large-secondary p,
  .btn-large-secondary h6 {
    margin: 0;
    color: #31326c;
  }
  .btn-large-secondary p {
    font-weight: 600;
    font-size: 14px;
  }
  .btn-large-secondary h6 {
    font-size: 15px;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  #mobile-menu {
    position: absolute;
    top: 10px;
    left: 90%;
    z-index: 100;
    cursor: pointer;
  }
  .navbar-section {
    height: 80px;
    background: #fff;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.2);
    margin-top: -15px;
    padding-top: 2px;
  }
  .nav-menu {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style: none;
    top: 10px;
    justify-self: end;
    align-self: center;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 130px;
    padding-left: 20px;
    height: 100vh;
    opacity: 0;
  }
  .nav-links {
    color: #31326c;
    text-decoration: none;
    font-size: 22px;
    transition: all 0.2s ease-out;
    position: relative;
  }
  .nav-links::after {
    content: '';
    position: absolute;
    background: #e5ab3d;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    height: 0px;
    transition: none;
    opacity: 1;
  }
  .nav-links:hover {
    text-decoration: none;
    color: #31326c;
    font-weight: normal;
  }
  .nav-links:hover::after {
    content: '';
    position: absolute;
    background: #e5ab3d;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    height: 0px;
    transition: none;
    opacity: 1;
  }
  .nav-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .btn-large-primary {
    background-color: #31326c;
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-evenly;
  }
  .btn-large-primary p,
  .btn-large-primary h6 {
    margin: 0;
    color: #fff;
  }
  .btn-large-primary p {
    font-size: 14px;
    font-weight: 600;
  }
  .btn-large-primary h6 {
    font-size: 15px;
    font-weight: bold;
  }
  .btn-large-secondary {
    background-color: #fff;
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #31326c;
  }
  .btn-large-secondary p,
  .btn-large-secondary h6 {
    margin: 0;
    color: #31326c;
  }
  .btn-large-secondary p {
    font-weight: 600;
    font-size: 14px;
  }
  .btn-large-secondary h6 {
    font-size: 15px;
    font-weight: bold;
  }
  .showcase {
    height: 450px;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
  }
  .showcase .button-grid {
    margin-top: 10px;
  }
  .showcase .heading-and-image {
    margin-top: 20px;
  }
  .showcase .heading-and-image img {
    height: 100px;
    margin-left: -30px;
  }
  .showcase .heading-and-image h1 {
    font-size: 35px;
    color: #31326c;
    margin-top: -70px;
  }
  .showcase .showcase-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #424242;
    width: 350px;
    text-align: left;
  }
  .showcase .button-grid {
    margin-top: 30px;
  }
  .heading-and-image img {
    height: 100px;
    margin-left: -30px;
  }
  .heading-and-image h1 {
    font-size: 35px;
    color: #31326c;
    margin-top: -70px;
  }
  .partners-content {
    background-color: rgba(49, 50, 108, 0.04);
    margin-top: 30px;
    padding: 20px;
  }
  .partners-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .seamless {
    margin-top: 50px;
    padding-top: 100px;
  }
  .seamless .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .seamless .container .pc-and-phone {
    height: 200px;
    margin-left: 0%;
    align-self: center;
  }
  .partners {
    margin-top: -20px;
  }
  .partners h4 {
    font-size: 28px;
    color: #31326c;
  }
  .seamless {
    margin-top: 0px;
    padding-top: 50px;
  }
  .seamless .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .seamless .container .pc-and-phone {
    height: 250px;
    align-self: center;
    margin-bottom: 30px;
  }
  .seamless-content .heading-and-image img {
    height: 50px;
    margin-top: -90px;
    margin-left: -75px;
  }
  .seamless-content .heading-and-image h1 {
    font-size: 28px;
    font-weight: bold;
  }
  .seamless-content p {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
  }
  .seamless-content .mycard-primary {
    background: #31326c;
    color: #fff;
    padding: 15px 20px 1px 20px;
    box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .seamless-content .mycard-primary h6 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
  }
  .seamless-content .mycard-primary p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .seamless-content .mycard-secondary {
    background: #fff;
    color: #212529;
    box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
    border-radius: 5px;
    padding: 15px 20px 1px 20px;
    margin-bottom: 20px;
  }
  .seamless-content .mycard-secondary h6 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-top: 20px;
  }
  .seamless-content .mycard-secondary p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .seamless-list {
    display: grid;
    grid-template-columns: 2fr 15fr;
  }
  .list-image {
    height: 400px;
    margin-top: 20px;
  }
  .feature-card {
    position: relative;
    padding: 30px 20px;
  }
  .feature-card h5,
  .feature-card p {
    color: #fff;
    margin-top: 10px;
  }
  .feature-card .feature-card-img {
    position: absolute;
    width: 50%;
    margin: 10%;
  }
  .feature {
    background-color: #31326c;
    padding: 30px 10px 30px 10px;
    margin-top: 50px;
  }
  .feature .heading-and-image {
    margin: 20px 0 40px 0;
  }
  .feature .heading-and-image img {
    height: 75px;
    margin-top: 5px;
    margin-left: -200px;
  }
  .feature .heading-and-image h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-top: -50px;
  }
  .feature .feature-card {
    position: relative;
    padding: 30px 20px;
  }
  .feature .feature-card h5,
  .feature .feature-card p {
    color: #fff;
    margin-top: 10px;
  }
  .feature .feature-card .feature-card-img {
    position: absolute;
    width: 50%;
    margin: 10%;
  }
  .feature .feature-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .transaction {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .transaction .heading-and-image {
    margin-bottom: 10px;
  }
  .transaction .heading-and-image img {
    height: 75px;
    margin-left: 40px;
  }
  .transaction .heading-and-image h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: -50px;
  }
  .transaction .transaction-card {
    padding: 15px;
    height: 280px;
    width: 330px;
    margin-top: 13px;
    justify-self: center;
  }
  .transaction .transaction-content {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    gap: 20px;
  }
  .transaction .transaction-content .atm-img {
    height: 240px;
  }
  .transaction .transaction-content .center-img {
    position: absolute;
    height: 100px;
    left: 37%;
    top: 50%;
  }
  .banking-content {
    background-color: #31326c;
    color: #fff;
    padding: 10px;
    border-radius: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    margin-top: 80px;
  }
  .banking-content .text-content {
    justify-self: center;
    align-self: center;
  }
  .banking-content .banking-img {
    justify-self: center;
    align-self: center;
  }
  .banking-content .heading-and-image {
    margin-bottom: 30px;
    margin-top: 100px;
  }
  .banking-content .heading-and-image img {
    height: 75px;
    margin-left: -55px;
  }
  .banking-content .heading-and-image h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-top: -55px;
  }
  .banking-content p {
    font-size: 16px;
    line-height: 120%;
    width: 300px;
    letter-spacing: 0.02em;
    color: #ced3ff;
  }
  .download {
    background: rgba(49, 50, 108, 0.04);
    margin-top: 200px;
    padding-bottom: 70px;
  }
  .download .download-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .download .download-content .download-img {
    margin-top: -150px;
  }
  .download .pay-color {
    color: #e5ab3d;
  }
  .download .download-text {
    justify-self: start;
    margin-top: -30px;
  }
  .download .download-text .heading-and-image {
    margin-bottom: 60px;
  }
  .download .download-text .heading-and-image img {
    height: 75px;
    margin-left: -55px;
  }
  .download .download-text .heading-and-image h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: -55px;
  }
  .footer {
    background-color: #31326c;
    color: #fff;
    margin-top: 0px;
    z-index: 3;
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .footer button {
    background-color: #e5ab3d;
    color: #31326c;
  }
  .footer h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .footer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #ced3ff;
    letter-spacing: 0.02em;
  }
  .footer .third-item {
    justify-self: start;
  }
  .footer .footer-icons {
    margin-top: 70px;
  }
  .footer .footer-icons > a {
    margin-right: 20px;
  }
  .footer .copy {
    margin-top: 30px;
  }
  .footer .copy p {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #ced3ff;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 850px) {
  .faq {
    margin-top: 0px;
    margin-bottom: 60px;
  }
  .faq .heading-and-image {
    margin-bottom: 70px;
  }
  .faq .heading-and-image img {
    margin-left: -400px;
  }
  .faq .heading-and-image h1 {
    font-weight: bold;
    font-size: 40px;
  }
  .faq .input-group {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    z-index: 0;
    position: relative;
  }
  .faq .input-group .btn {
    background-color: #31326c;
    color: #fff;
    width: 150px;
  }
  .faq .input-group input[type='text'] {
    height: 45px;
  }
  .faq .input-group input:focus {
    box-shadow: 0px 3px 10px #31326c;
  }
  .faq h2 {
    font-size: 32px;
    color: #31326c;
  }
  .still-have {
    margin-bottom: 100px;
  }
  .still-have h2 {
    font-size: 32px;
    color: #31326c;
    text-align: center;
  }
  .still-have .heading-paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    width: 600px;
    margin: 30px auto 60px;
  }
  .still-have .still-have-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .still-have .still-have-cards .mycard-secondary {
    padding: 30px 20px 40px 20px;
  }
  .still-have .still-have-cards .mycard-secondary img {
    margin-bottom: 30px;
  }
  .still-have .still-have-cards .mycard-secondary h5 {
    margin-bottom: 15px;
  }
  .still-have .still-have-cards .mycard-secondary p {
    text-align: left;
  }
  .still-have .still-have-cards .mycard-primary {
    padding: 30px 20px 40px 20px;
  }
  .still-have .still-have-cards .mycard-primary img {
    margin-bottom: 30px;
  }
  .still-have .still-have-cards .mycard-primary h5 {
    margin-bottom: 15px;
  }
  .still-have .still-have-cards .mycard-primary p {
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .faq {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .faq .heading-and-image {
    margin-bottom: 30px;
  }
  .faq .heading-and-image img {
    margin-left: -190px;
    margin-top: -80px;
    height: 60px;
  }
  .faq .heading-and-image h1 {
    font-weight: bold;
    font-size: 30px;
  }
  .faq .input-group {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
  }
  .faq .input-group .btn {
    background-color: #31326c;
    color: #fff;
    width: 75px;
  }
  .faq .input-group input[type='text'] {
    height: 40px;
  }
  .faq .input-group input:focus {
    box-shadow: 0px 3px 10px #31326c;
  }
  .faq h2 {
    font-size: 28px;
    color: #31326c;
  }
  .still-have {
    margin-bottom: 50px;
  }
  .still-have h2 {
    font-size: 28px;
    color: #31326c;
    text-align: center;
  }
  .still-have .heading-paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    width: 320px;
    margin: 30px auto 60px;
  }
  .still-have .still-have-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .still-have .still-have-cards .mycard-secondary {
    padding: 30px 20px 40px 20px;
  }
  .still-have .still-have-cards .mycard-secondary img {
    margin-bottom: 30px;
  }
  .still-have .still-have-cards .mycard-secondary h5 {
    margin-bottom: 15px;
  }
  .still-have .still-have-cards .mycard-secondary p {
    text-align: left;
  }
  .still-have .still-have-cards .mycard-primary {
    padding: 30px 20px 40px 20px;
  }
  .still-have .still-have-cards .mycard-primary img {
    margin-bottom: 30px;
  }
  .still-have .still-have-cards .mycard-primary h5 {
    margin-bottom: 15px;
  }
  .still-have .still-have-cards .mycard-primary p {
    text-align: left;
  }
}

@media screen and (max-width: 850px) {
  .contact-heading {
    margin-top: 30px;
  }
  .contact-heading .heading-and-image {
    margin-top: 120px;
  }
  .contact-heading .heading-and-image img {
    margin-left: -100px;
    margin-top: -120px;
    height: 80px;
  }
  .contact-heading .heading-and-image h1 {
    font-weight: bold;
    font-size: 40px;
  }
  .callandmessage {
    margin-top: 70px;
  }
  .callandmessage .photoandcard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .reach-us {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .reach-us .reach-us-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media screen and (max-width: 500px) {
  .contact-heading {
    margin-top: 80px;
  }
  .contact-heading .heading-and-image {
    margin-top: 50px;
  }
  .contact-heading .heading-and-image img {
    margin-left: -90px;
    margin-top: -80px;
    height: 60px;
  }
  .contact-heading .heading-and-image h1 {
    font-weight: bold;
    font-size: 30px;
  }
  .contact-heading p {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #424242;
    width: 330px;
    margin: 40px auto;
  }
  .callandmessage {
    margin-top: 60px;
  }
  .callandmessage .photoandcard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .callandmessage .photoandcard .callgirl {
    height: 300px;
  }
  .callandmessage .photoandcard .callgirl-cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 20px;
  }
  .callandmessage .photoandcard .mycard-secondary {
    padding: 10px 20px 10px;
  }
  .callandmessage .photoandcard .mycard-secondary p {
    font-weight: 600;
    font-size: 20px;
    line-height: 119%;
    letter-spacing: 0.02em;
    color: #31326c;
    margin: 0;
  }
  .callandmessage .photoandcard .mycard-secondary span {
    margin-right: 15px;
  }
  .callandmessage .photoandcard .mycard-secondary span img {
    height: 30px;
  }
  .callandmessage .form-area.mycard-secondary {
    padding: 40px 30px 40px;
  }
  .callandmessage .form-area.mycard-secondary .card-btn-secondary {
    border: 0;
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
  }
  .callandmessage .form-area.mycard-secondary h5 {
    color: #31326c;
    margin-bottom: 20px;
  }
  .callandmessage .form-area.mycard-secondary .form-group {
    margin-bottom: 30px;
  }
  .reach-us {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .reach-us h2 {
    font-size: 28px;
    color: #31326c;
    text-align: center;
    font-weight: bold;
  }
  .reach-us .heading-paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    width: 330px;
    margin: 30px auto 60px;
    color: #424242;
  }
  .reach-us .reach-us-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .reach-us .reach-us-cards .mycard-secondary {
    padding: 30px 20px 30px 20px;
  }
  .reach-us .reach-us-cards .mycard-secondary img {
    margin-bottom: 30px;
  }
  .reach-us .reach-us-cards .mycard-secondary h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #31326c;
  }
  .reach-us .reach-us-cards .mycard-secondary p {
    text-align: left;
    margin-bottom: 40px;
    letter-spacing: 0.02em;
  }
  .reach-us .reach-us-cards .mycard-secondary span {
    margin-right: 15px;
  }
  .reach-us .reach-us-cards .mycard-primary {
    padding: 30px 20px 30px 20px;
  }
  .reach-us .reach-us-cards .mycard-primary img {
    margin-bottom: 30px;
  }
  .reach-us .reach-us-cards .mycard-primary h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #fff;
  }
  .reach-us .reach-us-cards .mycard-primary p {
    text-align: left;
    margin-bottom: 40px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 850px) {
  .about-heading {
    margin-top: 120px;
  }
  .about-heading .heading-and-image img {
    margin-left: -100px;
    margin-top: -120px;
    height: 80px;
  }
  .about-heading .heading-and-image h1 {
    font-weight: bold;
    font-size: 40px;
  }
  .about-heading p {
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #424242;
    width: 50ch;
    margin: 20px auto;
  }
  .photo-grid {
    margin-top: 130px;
    margin-bottom: 100px;
  }
  .photo-grid .photo-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .photo-grid .photo1,
  .photo-grid .photo2,
  .photo-grid .photo3,
  .photo-grid .photo4 {
    background-color: #31326c;
    border-radius: 15px;
  }
  .photo-grid .photo1 {
    grid-row: 1;
    grid-column: 1;
    height: 380px;
  }
  .photo-grid .photo1 img {
    margin-top: 1px;
    margin-left: -30px;
  }
  .photo-grid .photo2 {
    grid-row: 1;
    grid-column: 2;
    height: 330px;
  }
  .photo-grid .photo2 img {
    margin-top: -103px;
  }
  .photo-grid .photo3 {
    grid-column: 1;
    grid-row: 2;
    height: 330px;
  }
  .photo-grid .photo3 img {
    padding-left: 70px;
    margin-top: 3px;
  }
  .photo-grid .photo4 {
    grid-column: 2;
    grid-row: 2;
    height: 380px;
  }
  .photo-grid .photo4 img {
    margin-top: 72px;
  }
  .our-story .our-story-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
  .our-story .our-story-content h1 {
    font-weight: bold;
    font-size: 36px;
    color: #31326c;
    margin-bottom: 25px;
  }
  .our-story .our-story-content p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #424242;
  }
  .our-story .our-story-content .heading {
    align-self: center;
  }
  .our-story .our-story-content .photo-box {
    background-color: #31326c;
  }
  .our-story .our-story-content .photo-box img {
    margin: 30px 0 30px -50px;
  }
  .vision {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .vision .vision-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .vision .vision-content .vision-card {
    padding: 20px;
  }
  .vision .vision-content .vision-card h1 {
    font-weight: bold;
    font-size: 30px;
    color: #31326c;
    margin-bottom: 15px;
  }
  .vision .vision-content .vision-card p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #424242;
  }
}

@media screen and (max-width: 500px) {
  .about-heading {
    margin-top: 80px;
  }
  .about-heading .heading-and-image img {
    margin-left: -70px;
    margin-top: -80px;
    height: 60px;
  }
  .about-heading .heading-and-image h1 {
    font-weight: bold;
    font-size: 30px;
  }
  .about-heading p {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #424242;
    width: 27ch;
  }
  .photo-grid {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .photo-grid .photo-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    justify-content: center;
    grid-gap: 10px;
  }
  .photo-grid .photo1,
  .photo-grid .photo2,
  .photo-grid .photo3,
  .photo-grid .photo4 {
    background-color: #31326c;
    border-radius: 15px;
    width: 320px;
    margin: 0 auto;
  }
  .photo-grid .photo1 {
    grid-row: 2;
    grid-column: 1;
    height: 363px;
  }
  .photo-grid .photo1 img {
    margin-top: 1px;
    margin-left: -30px;
  }
  .photo-grid .photo2 {
    grid-row: 1;
    grid-column: 1;
    height: 340px;
  }
  .photo-grid .photo2 img {
    margin-top: -74px;
  }
  .photo-grid .photo3 {
    grid-column: 1;
    grid-row: 3;
    height: 330px;
  }
  .photo-grid .photo3 img {
    padding-left: 70px;
    margin-top: 3px;
  }
  .photo-grid .photo4 {
    grid-column: 1;
    grid-row: 4;
    height: 380px;
  }
  .photo-grid .photo4 img {
    margin-top: 86px;
  }
  .our-story .our-story-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .our-story .our-story-content h1 {
    font-weight: bold;
    font-size: 30px;
    color: #31326c;
    margin-bottom: 15px;
  }
  .our-story .our-story-content p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #424242;
  }
  .our-story .our-story-content .heading {
    align-self: center;
  }
  .our-story .our-story-content .photo-box {
    background-color: #31326c;
    width: 320px;
    justify-self: end;
  }
  .our-story .our-story-content .photo-box img {
    margin: 30px 0 30px -20px;
  }
  .vision {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .vision .vision-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .vision .vision-content .vision-card {
    padding: 20px;
  }
  .vision .vision-content .vision-card h1 {
    font-weight: bold;
    font-size: 28px;
    color: #31326c;
    margin-bottom: 15px;
  }
  .vision .vision-content .vision-card p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #424242;
  }
}
